        
                
            <footer class="footer mt-auto py-3 text-center bg-dark">
                <span class="text-white">Todos os direitos reservados.</span>
            </footer>
        </div>
    </body>
</html>